body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Empêche le débordement horizontal */
}

.homepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: column; /* Empêche le contenu de s'étendre en largeur */
  justify-content: flex-start; /* Aligne tout en haut */
  align-items: flex-start; /* Aligne tout à gauche */
  width: 100vw;
  height: auto;
  position: relative;
}


.homepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw; /* Utilise 100% de la largeur de la fenêtre */
  height: auto;  /* Ajuste la hauteur automatiquement si besoin */
  position: relative;
}



.homepage .overlap {
  position: absolute;
  width: 1440px;
  height: 602px;
  top: 132px;
  left: 0;
}

.homepage .frame {
  position: absolute;
  width: 98px;
  height: 73px;
  top: 309px;
  left: 768px;
  background-color: #ffffff;
}

.homepage .faune {
  position: absolute;
  width: 1440px;
  height: 602px;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .we-re-farmers {
  position: absolute;
  width: 1020px;
  top: 146px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #fffcfc;
  font-size: 64px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}

.homepage .text-wrapper {
  letter-spacing: -0.82px;
}

.homepage .span {
  font-family: "Newsreader-Italic", Helvetica;
  font-style: italic;
  letter-spacing: -0.82px;
}

.homepage .button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: px;
  height: 64px;
  top: 349px;
  left: 607px;
  background-color: #426b1f;
  border-radius: 8px;
  overflow: hidden;
}

.homepage .text-wrapper-2 {
  position: absolute;
  height: 26px;
  top: 18px;
  left: 32px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 26px;
  white-space: nowrap;
}

.homepage .overlap-group {
  position: absolute;
  width: 1142px;
  height: 554px;
  top: 2097px;
  left: 81px;
}

.homepage .we-believe-in {
  position: absolute;
  width: 1139px;
  top: 16px;
  left: 3px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.homepage .text-wrapper-3 {
  position: absolute;
  width: 181px;
  top: 0;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: 22.4px;
}

.homepage .jonathan-kemper {
  position: absolute;
  width: 504px;
  height: 693px;
  top: 1342px;
  left: 58px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .central-california {
  position: absolute;
  width: 736px;
  top: 2018px;
  left: 660px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: -0.14px;
  line-height: 22.4px;
}

.homepage .text-wrapper-4 {
  font-weight: 500;
  letter-spacing: -0.02px;
}

.homepage .text-wrapper-5 {
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  letter-spacing: -0.02px;
}

.homepage .header {
  position: absolute;
  width: 1440px;
  height: 112px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.homepage .text-wrapper-6 {
  position: absolute;
  top: 40px;
  left: 96px;
  font-family: "Newsreader-Medium", Helvetica;
  font-weight: 500;
  color: #426b1f;
  font-size: 32px;
  letter-spacing: -0.32px;
  line-height: 32px;
  white-space: nowrap;
}

.homepage .text-wrapper-7 {
  position: absolute;
  height: 21px;
  top: 44px;
  left: 744px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.homepage .text-wrapper-8 {
  position: absolute;
  height: 21px;
  top: 44px;
  left: 831px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.homepage .text-wrapper-9 {
  position: absolute;
  height: 21px;
  top: 44px;
  left: 956px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.homepage .text-wrapper-10 {
  position: absolute;
  height: 21px;
  top: 44px;
  left: 1094px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.homepage .cart-button {
  position: absolute;
  width: 126px;
  height: 48px;
  top: 32px;
  left: 1218px;
  background-color: #426b1f;
  border-radius: 8px;
  overflow: hidden;
}

.homepage .text-wrapper-11 {
  position: absolute;
  height: 21px;
  top: 12px;
  left: 23px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20.8px;
  white-space: nowrap;
}

.homepage .stocksy {
  position: absolute;
  width: 780px;
  height: 480px;
  top:1489px;
  left: 660px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .serpent {
  position: absolute;
  width: 303px;
  height: 242px;
  top: 784px;
  left: 20px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .flore {
  position: absolute;
  width: 294px;
  height: 242px;
  top: 784px;
  left: 396px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .calanque {
  position: absolute;
  width: 289px;
  height: 242px;
  top: 784px;
  left: 761px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .text-wrapper-12 {
  position: absolute;
  width: 295px;
  top: 1042px;
  left: 817px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: normal;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 38.4px;
}

.homepage .text-wrapper-13 {
  position: absolute;
  width: 199px;
  top: 1045px;
  left: 461px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: normal;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 38.4px;
  white-space: nowrap;
}

.homepage .text-wrapper-14 {
  position: absolute;
  width: 217px;
  top: 1045px;
  left: 63px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: normal;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 38.4px;
  white-space: nowrap;
}

.homepage .floremarin {
  position: absolute;
  width: 290px;
  height: 245px;
  top: 784px;
  left: 1123px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .text-wrapper-15 {
  position: absolute;
  width: 233px;
  top: 1039px;
  left: 1180px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: normal;
  color: #000000;
  font-size: 24px;
  letter-spacing: -0.24px;
  line-height: 38.4px;
  white-space: nowrap;
}

.homepage .genette {
  position: absolute;
  width: 1047px;
  height: 480px;
  top: 2702px;
  left: 203px;
  object-fit: cover;
  border-radius: 20px;
}
.homepage .aire {
  position: absolute;
  width: 1047px;
  height: 480px;
  top: 9302px;
  left: 203px;
  object-fit: cover;
  border-radius: 20px;
}
.homepage .overlap-group-2 {
  position: absolute;
  width: 1374px;
  height: 710px;
  top: 3196px;
  left: 41px;
}


.homepage .p {
  position: absolute;
  width: 1139px;
  top: 0;
  left: 162px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}

.homepage .img {
  left: 0;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 518px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .serpent-2 {
  left: 285px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 518px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .serpent-3 {
  left: 570px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 518px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .serpent-4 {
  left: 854px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 518px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .serpent-5 {
  left: 1138px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 518px;
  object-fit: cover;
  border-radius: 10px;
}
.homepage .rectangle{
  position: absolute;
  width: 780px;
  height: 119px;
  top:-1850px;
  left:620px;
  object-fit: cover;
  border-radius: 20px;
  
}
.homepage .we-re-farmers1 {
  position: relative;
  width: 1020px;
  top: 4900px;
  left: 417px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #232323;
  font-size: 64px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .faune1 {
  position: absolute;
  width: 1440px;
  height: 650px;
  top: 4300px;
  left: 0;
  object-fit: cover;
  border-radius: 10px;
  
}
.homepage .img2 {
  left: 0;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 750px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .serpent-6 {
  left: 285px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 750px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .serpent-7 {
  left: 570px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 750px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .serpent-8 {
  left: 854px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 750px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .serpent-9 {
  left: 1138px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 750px;
  object-fit: cover;
  border-radius: 10px;
}
.marquee {
  width: 100%; /* Largeur de la zone de défilement */
  overflow: hidden;
  margin-top: 1000px;
  white-space: nowrap; /* Évite que le texte aille à la ligne */
}

.marquee p {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite, fast-return 0.5s ease-in; /* Animation continue du texte */
}

@keyframes marquee {
  0% {
    transform: translateX(100%); /* Commence en dehors de l'écran à droite */
  }
  100% {
    transform: translateX(-100%); /* Finit en dehors de l'écran à gauche */
  }
}
.homepage .we-re-farmers2 {
  position: absolute;
  width: 1020px;
  top: 3720px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .we-re-farmers3 {
  position: absolute;
  width: 460px;
  top: 3720px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .we-re-farmers4 {
  position: absolute;
  width: 0px;
  top: 3720px;
  left: 90px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .we-re-farmers5 {
  position: absolute;
  width: 1580px;
  top: 3720px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .we-re-farmers6 {
  position: absolute;
  width: 2140px;
  top: 3720px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .fauneterreste10 {
  position: absolute;
  width: 1650px;
  top: 1320px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 100;
  color: #0b0b0b;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .we-re-farmers7 {
  position: absolute;
  width: 2140px;
  top: 3960px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}

.homepage .we-re-farmers8 {
  position: absolute;
  width: 1580px;
  top: 3960px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .we-re-farmers9 {
  position: absolute;
  width: 1040px;
  top: 3960px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .we-re-farmers10 {
  position: absolute;
  width: 0px;
  top: 3960px;
  left: 90px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .we-re-farmers11 {
  position: absolute;
  width: 0px;
  top: 3960px;
  left: 370px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .fauneterreste11 {
  position: absolute;
  width: 850px;
  top: 4200px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 100;
  color: #0b0b0b;
  font-size: 33px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .fleurexplication {
  position: absolute;
  width: 504px;
  height: 693px;
  top: 5100px;
  left: 58px;
  object-fit: cover;
  border-radius: 20px;
}
.homepage .overlap-group-3 {
  position: absolute;
  width: 374px;
  height: 710px;
  top: 3000px;
  left: 390px;
}
.homepage .p2 {
  position: absolute;
  width: 1139px;
  top: 0;
  left: 162px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 32px;
}





.homepage .marin1 {
  left: 0;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 5018px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .marin2 {
  left: 285px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 5018px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .marin3 {
  left: 570px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 5018px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .marin4 {
  left: 854px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 5018px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .marin5 {
  left: 1138px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 5018px;
  object-fit: cover;
  border-radius: 10px;
}
.homepage .marin6 {
  left: 285px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 5250px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .marin7 {
  left: 570px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 5250px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .marin8 {
  left: 854px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 5250px;
  object-fit: cover;
  border-radius: 10px;
}

.homepage .marin9 {
  left: 1138px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 5250px;
  object-fit: cover;
  border-radius: 10px;
}
.homepage .marin10 {
  left: 0;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 5250px;
  object-fit: cover;
  border-radius: 10px;
}
.homepage .floremarin1 {
  position: absolute;
  width: 1440px;
  height: 650px;
  top: 7000px;
  left: 0;
  object-fit: cover;
  border-radius: 20px;
  
}
.homepage .overlap-group-4 {
  position: absolute;
  width: 674px;
  height: 710px;
  top: 680px;
  left: -550px;
}
.homepage .overlap-group-5 {
  position: absolute;
  width: 674px;
  height: 710px;
  top: 1900px;
  left: -50px;
}
.homepage .overlap-group-6 {
  position: absolute;
  width: 674px;
  height: 710px;
  top: 1200px;
  left: 0px;
}
.homepage .overlap-group-7 {
  position: absolute;
  width: 674px;
  height: 710px;
  top: -150px;
  left: 500px;
}
.homepage .imgf1 {
  left: 0;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 3018px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .imgf2 {
  left: 285px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 3018px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .imgf3 {
  left: 570px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 3018px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .imgf4 {
  left: 854px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 3018px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .imgf5 {
  left: 1138px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 3018px;
  object-fit: cover;
  border-radius: 20px;
}
.homepage .imgf6 {
  left: 285px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 3250px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .imgf7 {
  left: 570px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 3250px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .imgf8 {
  left: 854px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 3250px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .imgf9 {
  left: 1138px;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 3250px;
  object-fit: cover;
  border-radius: 20px;
}
.homepage .imgf10 {
  left: 0;
  position: absolute;
  width: 236px;
  height: 192px;
  top: 3250px;
  object-fit: cover;
  border-radius: 20px;
}

.homepage .textmarin1 {
  position: absolute;
  width: 1020px;
  top: 6450px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .textmarin2 {
  position: absolute;
  width: 460px;
  top: 6450px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .textmarin3 {
  position: absolute;
  width: 0px;
  top: 6450px;
  left: 90px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .textmarin4 {
  position: absolute;
  width: 1580px;
  top: 6450px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .textmarin5 {
  position: absolute;
  width: 2140px;
  top: 6450px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}

.homepage .textmarin6 {
  position: absolute;
  width: 2140px;
  top: 6220px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}

.homepage .textmarin7 {
  position: absolute;
  width: 1580px;
  top: 6220px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .textmarin8 {
  position: absolute;
  width: 1040px;
  top: 6220px;
  left: 217px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .textmarin9 {
  position: absolute;
  width: 0px;
  top: 6220px;
  left: 90px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .textmarin10 {
  position: absolute;
  width: 0px;
  top: 6220px;
  left: 370px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}
.homepage .floremarin10 {
  position: absolute;
  width: 0px;
  top: 8220px;
  left: 370px;
  font-family: "Newsreader-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 44px;
  text-align: center;
  letter-spacing: -1.28px;
  line-height: 76.8px;
}

.homepage .floremarin2 {
position: absolute;
width: 460px;
top: 8450px;
left: 217px;
font-family: "Newsreader-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 44px;
text-align: center;
letter-spacing: -1.28px;
line-height: 76.8px;
}
.homepage .floremarin3 {
position: absolute;
width: 0px;
top: 8450px;
left: 90px;
font-family: "Newsreader-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 44px;
text-align: center;
letter-spacing: -1.28px;
line-height: 76.8px;
}
.homepage .floremarin4 {
position: absolute;
width: 1580px;
top: 8450px;
left: 217px;
font-family: "Newsreader-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 44px;
text-align: center;
letter-spacing: -1.28px;
line-height: 76.8px;
}
.homepage .floremarin5 {
position: absolute;
width: 2140px;
top: 8450px;
left: 217px;
font-family: "Newsreader-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 44px;
text-align: center;
letter-spacing: -1.28px;
line-height: 76.8px;
}

.homepage .floremarin6 {
position: absolute;
width: 2140px;
top: 8220px;
left: 217px;
font-family: "Newsreader-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 44px;
text-align: center;
letter-spacing: -1.28px;
line-height: 76.8px;
}

.homepage .floremarin7 {
position: absolute;
width: 1580px;
top: 8220px;
left: 217px;
font-family: "Newsreader-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 44px;
text-align: center;
letter-spacing: -1.28px;
line-height: 76.8px;
}
.homepage .floremarin8 {
position: absolute;
width: 1040px;
top: 8220px;
left: 217px;
font-family: "Newsreader-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 44px;
text-align: center;
letter-spacing: -1.28px;
line-height: 76.8px;
}
.homepage .floremarin9 {
position: absolute;
width: 0px;
top: 8220px;
left: 90px;
font-family: "Newsreader-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 44px;
text-align: center;
letter-spacing: -1.28px;
line-height: 76.8px;
}
.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
  background-color: var(--your-footer-bg-color); /* couleur de fond, si besoin */
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
/* Cible les images avec des classes spécifiques */
.img, .serpent-2, .serpent-3, .serpent-4, .serpent-5, .img2, 
.serpent-6, .serpent-7, .serpent-8, .serpent-9, 
.imgf1, .imgf2, .imgf3, .imgf4, .imgf5, .imgf6, .imgf7, .imgf8, .imgf9, .imgf10, 
.marin1, .marin2, .marin3, .marin4, .marin5, .marin6, .marin7, .marin8, .marin9, .marin10 {
  transition: transform 0.1s ease;
  width: 100%;
  height: auto;
}

/* Effet de survol */
.img:hover, .serpent-2:hover, .serpent-3:hover, .serpent-4:hover, .serpent-5:hover, .img2:hover, 
.serpent-6:hover, .serpent-7:hover, .serpent-8:hover, .serpent-9:hover, 
.imgf1:hover, .imgf2:hover, .imgf3:hover, .imgf4:hover, .imgf5:hover, .imgf6:hover, .imgf7:hover, .imgf8:hover, .imgf9:hover, .imgf10:hover, 
.marin1:hover, .marin2:hover, .marin3:hover, .marin4:hover, .marin5:hover, .marin6:hover, .marin7:hover, .marin8:hover, .marin9:hover, .marin10:hover {
  transform: scale(1.3); /* Agrandit l'image de 10% */
}
